@use "functions" as *;
@use "variables" as *;

/* General body styling */
body {
  position: relative; /* Ensures the body is positioned relative to its normal flow */
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers content horizontally */
  // align-items: center; /* Centers content vertically */
  min-height: 100vh; /* Ensures the body takes up at least the full viewport height */
  font-family: $font-family;
  font-style: normal;
  line-height: normal;
  background: #08070b;
  font-feature-settings:
    "liga" off,
    "clig" off;
}

/* Media query for screens with a width of up to 375px */
@media screen and (max-width: 375px) {
  body {
    min-height: 100%; /* Ensures the body takes up at least the full height of its parent container */
  }
}

// Utilities

.body-bold {
  font-size: rem(18px);
}

.body-regular {
  font-size: 1rem;
}

.d-none {
  display: none;
}

// interactive components classes

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  height: rem(8px);
  width: 100%;
  cursor: pointer;
}

.slider:focus {
  outline: none; /* Removes the blue border. */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: $almost-white;
  cursor: pointer;

  &:hover {
    background-color: $very-dark-grey;
    border: 2px solid $neon-green;
  }
}

.slider::-webkit-slider-runnable-track {
  background-color: $neon-green;
  height: rem(8px);
}

.slider::-moz-range-thumb {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: $almost-white;
  cursor: pointer;

  &:hover {
    background-color: $very-dark-grey;
    border: 2px solid $neon-green;
  }
}

.slider::-moz-range-track {
  background-color: $very-dark-grey;
  height: rem(8px);
}

.slider::-moz-range-progress {
  background-color: $neon-green;
  height: rem(8px);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: rem(20px);
  height: rem(20px);
}

input[type="checkbox"]:not(:checked) {
  border: 2px solid $almost-white;
}

input[type="checkbox"]:hover {
  border: 2px solid $neon-green;
  cursor: pointer;
}

/* When the checkbox is checked, add a blue background */
input[type="checkbox"]:checked {
  background-color: $neon-green;
}

.button {
  background: $neon-green;
  padding: rem(20px);
  font-weight: 700;
  width: 100%;
  border-style: none;
  text-transform: uppercase;

  &:hover {
    background: $dark-grey;
    border: 2px solid $neon-green;
    cursor: pointer;
    color: $neon-green;

    svg {
      path {
        fill: $neon-green;
      }
    }
  }
}

.rect {
  border: 2px solid $almost-white;
  width: 10px;
  height: 28px;
}

.too_weak {
  background-color: $red-one;
}

.weak {
  background-color: $orange-two;
}

.medium {
  background-color: $yellow-three;
}

.strong {
  background-color: $neon-green;
}

// Mobile First Approach
.container {
  padding: rem(64px) rem(16px);
  display: flex;
  flex-direction: column;
  row-gap: rem(16px);

  .header {
    color: #817d92;
    font-weight: 700;
    text-align: center;
  }

  .generated_pwd {
    display: flex;
    justify-content: space-between;
    background-color: $dark-grey;
    padding: 1rem;
    align-items: center;

    .pwd {
      color: $almost-white;
      font-size: rem(24px);
      font-weight: 700;
      border-style: none;
      opacity: 0.25; /* Initial opacity for placeholder */
      background-color: transparent;
      width: 75%;

      &::placeholder {
        color: $almost-white; /* Placeholder text color */
      }
    }
    svg:hover {
      cursor: pointer;
      path {
        fill: $almost-white;
      }
    }
  }

  .pwd_details {
    background-color: $dark-grey;
    display: flex;
    flex-direction: column;
    row-gap: rem(32px);
    padding: 1rem;

    .length {
      .wrapper {
        color: $almost-white;
        font-size: rem(16px);
        font-weight: 700;
        margin-bottom: rem(13px);

        output {
          float: right;
          color: $neon-green;
        }
      }
    }

    .details {
      color: $almost-white;
      font-size: rem(16px);
      font-weight: 700;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      .label {
        display: flex;
        align-items: center;
        position: relative;
        column-gap: 1rem;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .checkmark {
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translate(-50%, -50%);
        }
      }
    }

    .strength-button {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      .indicators {
        background: #18171f;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(14px) rem(14px) rem(14px) rem(16px);

        span {
          color: $grey;
          font-size: 1rem;
          text-transform: uppercase;
        }

        div {
          float: right;
          display: flex;
          align-items: center;

          .strength {
            text-transform: uppercase;
            color: $almost-white;
            font-weight: 700;
            margin-right: 1rem;
          }

          .icons {
            display: flex;
            column-gap: rem(8px);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .heading-m-bold {
    font-size: rem(24px);
  }

  .container {
    padding: rem(133px) 0 0 0;
    width: rem(540px);
    row-gap: rem(24px);

    .header {
      margin-bottom: rem(7px);
    }

    .pwd_details {
      padding: rem(24px) 2rem 2rem;
      .length .wrapper,
      .details {
        font-size: rem(18px);
      }

      .details {
        row-gap: rem(19px);
      }

      .strength-button {
        row-gap: rem(32px);
        .indicators {
          padding: rem(23px) rem(21px) rem(31.5px) rem(32px);
          span {
            font-size: rem(18px);
          }

          div {
            span {
              font-size: rem(24px);
            }
          }
        }

        .button {
          font-size: rem(18px);
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .heading-l-bold {
    font-size: 32px;
  }
}
